extends /shared/layout

block layout-content
  // Content Wrapper. Contains page content
  .content-wrapper
    // Content Header (Page header)
    section.content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            h1 Bảng phân bổ
          .col-sm-6
            ol.breadcrumb.float-sm-right
              li.breadcrumb-item
                a(href='/') Trang chủ
              li.breadcrumb-item.active Bảng phân bổ
      // /.container-fluid
    // Main content
    section.content
      h1 Bảng phân bổ
    // /.content
  // /.content-wrapper
