extends /shared/layout

block layout-content
  // Content Wrapper. Contains page content
  .content-wrapper
    // Content Header (Page header)
    section.content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            h1 Quản lý khu vực
          .col-sm-6
            ol.breadcrumb.float-sm-right
              li.breadcrumb-item
                a(href='/') Trang chủ
              li.breadcrumb-item.active Quản lý khu vực
      // /.container-fluid
    // Main content
    section.content
      h1 Quản lý khu vực
    // /.content
  // /.content-wrapper
