extends /shared/layout

block layout-content
  .content-wrapper
    // Content Header (Page header)
    .content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            h1.m-0 Bắt đầu
          // /.col
          .col-sm-6
            ol.breadcrumb.float-sm-right
              li.breadcrumb-item
                a(href='/') Home
              li.breadcrumb-item.active Bắt đầu
          // /.col
        // /.row
      // /.container-fluid
    // /.content-header
    // Main content
    .content
      .container-fluid
        .row
          div.callout.callout-info
            h5 Xin chào 
            p
              | Xin vui lòng 
              a(href="/login" class="alert-link") đăng nhập 
              | để sử dụng
        // /.row
      // /.container-fluid
    // /.content